@import "../var";

body {
  background-color: #f5f5f5;
  min-width: 1200px;
  b {
    font-weight: normal;
  }
  .alert-combos-wrapper {
    .nova-dialog-body {
      padding: 0;
    }
  }
  .nova-dialog-footer {
    .btn {
      margin-left: 10px;
    }
  }
  .icon-checkBox {
    cursor: pointer;
    background: url('../../imgs/cart/sprite/icon-checkBox.png') no-repeat center;
    height: 15px;
    width: 15px;
    margin-left: 30px;
    float: left;
    &:hover {
      background: url('../../imgs/cart/sprite/icon-checkBox-hover.png') no-repeat center;
    }
    &.checked {
      background: url('../../imgs/cart/sprite/icon-checkBox-checked.png') no-repeat center;
    }
  }
  .choose-all {
    cursor: pointer;
    &:hover {
      color: $color-hover-orange;
    }
  }
  .fix-bottom {
    position: fixed;
    bottom:0;
    width: 100%;
    min-width: 1200px;
    z-index: 100;
    background:#ffffff;
    height:70px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.09);
    margin-top: 55px;
  }
  .loading_box {
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    span {
      font-size: 16px;
    }
  }
}

.wrap {
  .td {
    float: left;
  }
}

/*顶部*/
.sft-header {
  background:#ffffff;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.12);
  height:80px;
  position: relative;
  margin-bottom: 17px;
  .sft-header-wrapper {
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
  }
  .sft-header-left {
    float: left;
    margin-top: 9px;
    a {
      @include inlineblock;
    }
    .sft-header-logo {
      background: url('http://s1.lvjs.com.cn/img/logo/v2/lv_logo.png') no-repeat center;
      width: 175px;
      height: 57px;
      margin-right: 15px;
      vertical-align: bottom;
    }
    .sft-title {
      height: 40px;
      line-height: 40px;
      font-size:18px;
      color:#666666;
      padding-left: 14px;
      border-left: 1px solid #ccc;
      vertical-align: middle;
    }
  }
  .sft-header-right {
    float: right;
    margin-top: 19px;
    .sft-hotLine-title {
      font-size:14px;
      color:#666666;
    }
    .sft-hotLine {
      font-size:18px;
      color:#ff83bb;
      font-weight: 600;
      text-align: right;
    }
  }
}
/*顶部END*/

/*购物车图标*/
.cart-num-container {
  height: 22px;
  font-size:16px;
  color:#333333;
  margin-bottom: 14px;
  .icon-cart {
    @include inlineblock;
    background: url('../../imgs/cart/sprite/icon-cart.png') no-repeat center;
    height: 22px;
    width: 22px;
    vertical-align: -2px;
  }
  .cart-num {
    color: #f60;
    font-weight: 600;
  }
}
/*购物车图标END*/

/*顶部操作Bar*/
.cart-top-bar {
  background-color: #fff;
  height:(40px - 12*2);
  padding: 12px 0;
  margin-bottom: 10px;
  .icon-checkBox {
    height: 16px;
  }
  .choose-all {
    color: #333;
  }
  .td {
    height: 16px;
    line-height: 16px;
    color: #999;
  }
  .choose-all {
    margin-left: 20px;
    color: #333;
  }
  .title-proinfo {
    margin-left: 130px;
  }
  .title-rules {
    margin-left: 529px;
  }
  .title-price-single {
    margin-left: 39px;
  }
  .title-num {
    margin-left: 42px;
  }
  .title-money {
    margin-left: 121px;
  }
  .title-operate {
    margin-left: 56px;
  }
}
/*顶部操作Bar END*/

/*cart-section*/
.cart-section {
  background-color: #fff;
  margin-bottom: 20px;
  &.current-section {
    transition: box-shadow 400ms;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.1);
  }
  .cart-section-title {
    height:16px;
    line-height: 16px;
    padding: 14px 0;
    border-bottom: 1px solid #ddd;
    .icon-checkBox-disabled {
      float: left;
      cursor: not-allowed;
      margin-left: 30px;
      background: url('../../imgs/cart/sprite/icon-checkBox-not.png') no-repeat center;
      width: 15px;
      height: 15px;
    }
    .cart-section-title-main {
      font-size:14px;
      margin-left: 20px;
      color:#333333;
      font-weight: 600;
      font-family: "Microsoft YaHei";
    }
    .cart-section-money-total {
      float: right;
      margin-right: 151px;
      i {
        @include inlineblock;
      }
      .cart-section-money-total-title {
        font-size:14px;
        color:#666666;
        vertical-align: 2px;
      }
      .cart-section-money-total-num {
        font-size:18px;
        color:#ff6600;
        b {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
  .cart-section-details {
    background-color: #fff;
    .cart-section-pro-wrapper {
      padding: 14px 0;
      margin: 0 22px;
      border-top: 1px dotted #e3e3e3;
    }
    &>div:first-child {
      &>div:first-child{
        .cart-section-pro-wrapper {
          border-top: 0;
        }
      }
    }
    .cart-section-pro-hotel {
      .icon-checkBox {
        margin-top: 15px;
        margin-left: 8px;
      }
      .icon-hotel {
        margin-top: 8px;
        margin-left: 20px;
        background: url('../../imgs/cart/sprite/icon-hotel.png') no-repeat center;
        height: 32px;
        width: 32px;
      }
      .hotel-date-container {
        margin-left: 21px;
        width: 174px;
        p {
          font-size:14px;
          color:#333333;
          height: 24px;
          line-height: 24px;
        }
      }
      .hotel-info-container {
        p {
          width: 200px;
          @include etc;
          font-size:14px;
          color:#333333;
          height: 24px;
          line-height: 24px;
        }
        .hotel-stars {
          font-size:12px;
          color:#999999;
        }
        .hotel-name:hover {
          color: #f60;
          cursor: pointer;
        }
      }
      .pro-details-container {
        margin-left: 16px;
        p {
          width: 72px;
          @include etc();
          font-size:12px;
          color:#333333;
          line-height:24px;
          height: 24px;
        }
        .flight-plane-num {
          @include inlineblock;
          width: 46px;
        }
      }
      .pro-sevice {
        margin-left: 50px;
        width: 76px;
        font-size:12px;
        color:#666666;
        height: 24px;
        line-height: 24px;
        .flight-ticket-type-adult {
          background: url('../../imgs/cart/sprite/adult.png') no-repeat center;
          height: 16px;
          width: 28px;
          margin-top: 4px;
        }
        .flight-ticket-type-kid {
          @extend .flight-ticket-type-adult;
          background: url('../../imgs/cart/sprite/kid.png') no-repeat center;
        }
      }
      .pro-notice {
        font-size:12px;
        color:#666666;
        line-height:24px;
        height: 24px;
        width: 87px;
        span {
          border-bottom: 1px dashed #999;
          color:#666666;
        }
      }
      .pro-price-single {
        width: 70px;
        font-size:14px;
        color:#333333;
        line-height:24px;
        height: 24px;
      }
      .select-container {
        float: left;
        width: 77px;
        .pro-num {
          border:1px solid #dddddd;
          width:77px;
          height:28px;
          line-height: 28px;
        }
        .pro-num-notice {
          width: 77px;
          text-align: center;
          height: 16px;
          line-height: 16px;
          font-size:12px;
          color:#666666;
          margin-top: 8px;
        }
      }
      .pro-money {
        width: 84px;
        margin-left: 58px;
        font-size:14px;
        color:#ff6600;
        line-height:24px;
        height: 24px;
        span {
          font-size:16px;
        }
      }
      .pro-operations {
        width: 72px;
        font-size:12px;
        color:#666666;
        p {
          height: 20px;
          line-height:20px;
          cursor: pointer;
          &:hover {
            color: $color-hover-orange;
          }
        }
      }
      &.active {
        background-color: #fffdf8;
      }
      &.pro-disabled {
        background:#f9f9f9;
        color:#999999;
        p,i,b,span,div,em,.pro-num-notice {
          color:#999999;
          border-color: #e3e3e3;
        }
        .pro-num {
          color:#999999;
        }
        select {
          background-color: #fff;
        }
        .icon-checkBox-disabled {
          float: left;
          font-size:14px;
          color:#999999;
          width: 30px;
          height: 24px;
          line-height:24px;
          background: none;
          margin-left: 3px;
          margin-right: -10px;
          margin-top: 10px;
        }
        &.cart-section-pro-hotel {
          .icon-hotel {
            background: url('../../imgs/cart/sprite/icon-hotel-not.png') no-repeat center;
          }
        }
        &.cart-section-pro-flight {
          .icon-flight {
            background: url('../../imgs/cart/sprite/icon-flight-not.png') no-repeat center;
          }
        }
        &.cart-section-pro-ticket {
          .icon-ticket {
            background: url('../../imgs/cart/sprite/icon-ticket-not.png') no-repeat center;
          }
        }

      }
    }
    .cart-section-pro-flight {
      @extend .cart-section-pro-hotel;
      .flight-person-type {
        float: left;
        margin-top: 42px;
        margin-left: -30px;
        font-size: 12px;
        color: #899BAD;
        margin-bottom: -6px;
      }
      .cart-section-pro-wrapper {
        padding-bottom: 4px;
      }
      .icon-flight {
        margin-top: 8px;
        margin-left: 20px;
        background: url('../../imgs/cart/sprite/icon-flight.png') no-repeat center;
        height: 32px;
        width: 32px;
      }
      .section-pro-flight-block {
        padding-left: 75px;
        *padding-left: 0px;
        padding-bottom: 10px;
      }
      .flight-icon-route-go {
        margin-right: 8px;
        border-radius:16px;
        width:40px;
        height:16px;
        line-height: 16px;
        font-size:12px;
        color:#44bcea;
        text-align: center;
        border:1px solid #85d2f0;
        margin-bottom: 6px;
        margin-left: 21px;
      }
      .flight-icon-route-back {
        @extend .flight-icon-route-go;
        border:1px solid #6fd2a0;
        color:#00cc66;
      }
      .flight-main-container {
        margin-left: 21px;
        width: 174px;
      }
      .flight-main-citys {
        .icon-flight-arrow {
          @include inlineblock;
          margin: 0;
          float: none;
          margin-left: 4px;
          margin-right: 4px;
          vertical-align: 2px;
        }
      }
      .flight-info-container {
        width: 200px;
      }
      .flight-info-from {
        float: left;
      }
      .flight-time-from {
        font-size:16px;
        color:#333333;
        height: 24px;
        line-height: 24px;
        text-align: right;
      }
      .flight-airport-from,.flight-airport-to {
        font-size:12px;
        color:#666666;
        width: 73px;
        @include etc;
      }
      .icon-flight-arrow {
        float: left;
        background: url('../../imgs/cart/sprite/icon-cart-arrow.png') no-repeat center;
        height: 4px;
        width: 13px;
        margin: 10px;
      }
      .flight-info-to {
        float: left;
      }
      .flight-time-to {
        font-size:16px;
        color:#333333;
        height: 24px;
        line-height: 24px;
      }
    }
    .cart-section-pro-ticket {
      @extend .cart-section-pro-hotel;
      .cart-section-pro-wrapper {
        padding-top: 16px;
        padding-bottom: 10px;
      }
      .icon-checkBox {
        margin-top: 5px;
      }
      .icon-ticket {
        margin-top: -4px;
        margin-left: 20px;
        background: url('../../imgs/cart/sprite/icon-ticket.png') no-repeat center;
        height: 32px;
        width: 32px;
      }
      .ticket-date {
        width: 174px;
        margin-left: 20px;
        height: 24px;
        line-height: 24px;
        font-size:14px;
      }
      .ticket-name {
        width: 414px;
        height: 24px;
        line-height: 24px;
        font-size:14px;
        &:hover {
          color: #f60;
          cursor: pointer;
        }
      }
      &.pro-disabled {
        .icon-checkBox-disabled {
          margin-top: 0px;
        }
      }
    }
  }
}
.cart-section-my {
  .cart-section-title-main {
    b {
      font-weight: 600;
    }
  }
  .cart-section-my-info {
    float: left;
    font-size:14px;
    color:#666666;
    font-weight: 600;
    margin-left: 10px;
    span {
      margin-right: 4px;
    }
    b {
      font-weight: 600;
    }
  }
}
/*cart-section END*/

/*底部结算bar*/
.sft-bottom-bar-container {
  position: relative;
  background:#ffffff;
  height:70px;
  box-shadow:0 0 3px 0 rgba(0,0,0,0.09);
  margin-top: 55px;
}
.sft-bottom-bar {
  .sft-bottom-bar-tips {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0px 2px 0 #aaa;
    width: 187px;
    height: 30px;
    top:-40px;
    left: 50%;
    margin-left: -600px;
    .tip-arrow-top {
      top:23px;
      em {
        top: 3px;
      }
    }
    .error-icon {
      @include inlineblock;
      background: url('../../imgs/cart/sprite/icon-notice.png') no-repeat center;
      height: 14px;
      width: 14px;
      vertical-align: middle;
      margin-left: 10px;
    }
    p {
      @include inlineblock;
      height: 28px;
      line-height: 28px;
      vertical-align: middle;
    }
  }
  .sft-bottom-bar-wrapper {
    position: absolute;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    top: 0;
  }
  .bottom-bar-left {
    float: left;
    height: 16px;
    margin-top: 28px;
    span {
      float: left;
    }
    .choose-all,.cart-clear-all,.cart-move,.bottom-bar-clear {
      margin-left: 20px;
      height: 16px;
      line-height: 16px;
      cursor: pointer;
      &:hover {
        color: $color-hover-orange;
      }
    }
  }
  .bottom-bar-right {
    float: right;
    .bottom-bar-right-top {
      height: 40px;
      line-height: 40px;
      font-size:18px;
      color:#666666;
      text-align: right;
      span {
        @include inlineblock;
        font-size:20px;
        color:#ff6600;
      }
      b {
        font-size:32px;
        font-weight: 600;
      }
    }
    .bottom-bar-right-bottom {
      height: 24px;
      line-height: 24px;
      .money-total-old,.money-off {
        color:#666666;
        margin-left: 6px;
        b {
          font-size: 12px;
          color: #333;
        }
        i {
          font-size: 14px;
          color: #333;
        }
      }
    }
  }
  .bottom-bar-button {
    float: right;
    background:#ff8800;
    width:152px;
    height:70px;
    line-height: 70px;
    text-align: center;
    font-size:18px;
    color:#ffffff;
    cursor: pointer;
    margin-left: 24px;
    &:hover {
      background-color: $color-hover-orange;
    }
    &.disabled {
      background:#ff8800;
      opacity:0.5;
    }
  }
}
/*底部结算bar END*/

/*套餐弹出框*/
.alert-combos-container {
  height: 316px;
  overflow: auto;
  padding: 20px 30px;
  display: none;
  li {
    display: block;
    background:#f5f5f5;
    border-radius:4px;
    width:391px;
    height:38px;
    padding: 14px;
    cursor: pointer;
    margin-top: 15px;
    &:hover {
      background-color: $color-lv-orange;
      color: #fff;
      .combos-main,.combos-details {
        color: #fff;
      }
    }
    .combos-main {
      font-weight: 600;
      font-size:16px;
      color:#666666;
      height: 21px;
      line-height: 21px;
      margin-bottom: 3px;
    }
    .combos-details {
      height: 16px;
      line-height: 16px;
      color: #666;
    }
  }
  .combos-diy {
    .combos-main {
      font-weight: 600;
      font-size:16px;
      color:#666666;
      height: 38px;
      line-height: 38px;
    }
  }
}
/*套餐弹出框 END*/

/*空购物车*/
.cart-empty-container {
  background-color: #fff;
  width:1200px;
  height:240px;
  padding-top: 57px;
  div,p,a {
    display: block;
    margin: 0 auto;
  }
  .cart-empty-icon {
    background: url('../../imgs/cart/sprite/icon-cart-empty.png') no-repeat center;
    height: 69px;
    width: 104px;
    margin-bottom: 26px;
  }
  .cart-empty-words {
    font-size:16px;
    color:#666666;
    height: 21px;
    line-height: 21px;
    width: 256px;
    margin-bottom: 10px;
  }
  .cart-empty-words-signin {
    font-size:12px;
    color:#999999;
    width: 256px;
    margin-bottom: 19px;
    span {
      color:#2299ee;
      cursor: pointer;
      &:hover {
        color: #f60;
      }
    }
  }
  .btn-goshopping {
    width:81px;
    height:30px;
    padding: 0;
    line-height: 30px;

  }
}
/*空购物车 END*/

/*移入套餐toast*/
.alert-toast {
  display: none;
  background:#ffffff;
  width:421px;
  height:158px;
  padding-top: 10px;
  .icon-lv-container {
    text-align: center;
    i {
      @include inlineblock;
      &.icon-lv-fail {
        background: url('../../imgs/cart/sprite/icon-lv-fail.png') no-repeat center;
        height: 81px;
        width: 89px;
      }
      &.icon-lv-notice {
        background: url('../../imgs/cart/sprite/icon-lv-notice.png') no-repeat center;
        height: 82px;
        width: 89px;
      }
    }
  }
  p {
    text-align: center;
    font-size:16px;
    color:#333333;
    height: 28px;
    line-height:28px;
  }
}
/*移入套餐toast END*/

/*alert内容*/
.alert-content {
  display: none;
  padding-left: 62px;
  .icon-notice {
    @include inlineblock;
    background: url('../../imgs/cart/sprite/icon-notice-reverse.png') no-repeat center;
    height: 32px;
    width: 32px;
    vertical-align: top;
  }
  .icon-words {
    @include inlineblock;
    padding-left: 8px;
    width: 220px;
    line-height: 24px;
    font-size:14px;
    color:#333333;
  }
}
/*alert内容 END*/