.ui-calendar { z-index: 10; }

body { min-width: 1200px; font-family: "Microsoft YaHei"; }

.main-superfree { position: relative; height: 540px; }

.search-wrapper { position: relative; height: 540px; overflow: hidden; background: url("../imgs/banner.jpg") no-repeat center; }

.search-wrapper .banner-title { position: absolute; left: 50%; margin-left: -110px; top: 32px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/banner-title.png") no-repeat center; width: 221px; height: 49px; }

.search-container { position: absolute; top: 120px; left: 50%; margin-left: -342.5px; width: 585px; height: 306px; background-color: rgba(0, 0, 0, 0.6); padding: 25px 50px; border-radius: 8px; }

.search-container .search-tabs { margin-left: -22px; margin-bottom: 18px; }

.search-container .search-tabs li { cursor: pointer; float: left; padding: 0 22px; height: 22px; line-height: 22px; font-size: 18px; margin-bottom: 13px; color: #fff; border-right: 1px solid #777; }

.search-container .search-tabs li .tab-wrapper { width: 107px; text-align: center; padding-bottom: 9px; }

.search-container .search-tabs li i { display: inline-block; *display: inline; *zoom: 1; height: 24px; width: 24px; vertical-align: top; padding-right: 5px; }

.search-container .search-tabs li.current { font-weight: 600; }

.search-container .search-tabs li.current .tab-wrapper { border-bottom: 2px solid #fff; }

.search-container .search-tabs .tab-combo i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-combo.png") no-repeat center; }

.search-container .search-tabs .tab-combo.current i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-combo-cur.png") no-repeat center; }

.search-container .search-tabs .tab-flight i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-flight.png") no-repeat center; }

.search-container .search-tabs .tab-flight.current i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-flight-cur.png") no-repeat center; }

.search-container .search-tabs .tab-hotel i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-hotel.png") no-repeat center; }

.search-container .search-tabs .tab-hotel.current i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-hotel-cur.png") no-repeat center; }

.search-container .search-tabs .tab-ticket { border: 0; }

.search-container .search-tabs .tab-ticket i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-ticket.png") no-repeat center; }

.search-container .search-tabs .tab-ticket.current i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-tab-ticket-cur.png") no-repeat center; }

.search-container .search-contents { display: block; margin-left: -15px; border-radius: 3px; }

.search-container .search-contents .section-input { float: left; position: relative; height: 38px; background-color: #fff; width: 283px; margin: 0 0 15px 15px; border-radius: 3px; border: 1px solid #fff; }

.search-container .search-contents .section-input.error { border: 1px solid #f30; background-color: #ffe8e8; }

.search-container .search-contents .section-input input { position: absolute; z-index: 10; padding-left: 85px; padding-right: 37px; top: 0; height: 38px; line-height: 38px; background: url(../imgs/alpha.gif) repeat; font-size: 16px; width: 137px; color: #333; outline: none; }

.search-container .search-contents .section-input .search-contents-icon-location, .search-container .search-contents .section-input .search-contents-icon-calendar { position: absolute; top: 10px; height: 20px; z-index: 9; right: 10px; width: 16px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-loaction.png") no-repeat center; }

.search-container .search-contents .section-input .search-contents-icon-calendar { top: 13px; height: 15px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-calendar.png") no-repeat center; }

.search-container .search-contents .section-input .search-contents-title { position: absolute; z-index: 9; left: 0px; padding-left: 10px; height: 38px; line-height: 38px; width: 75px; font-size: 14px; color: #999; }

.search-container .search-contents .section-input .search-contents-info { position: absolute; z-index: 9; right: 47px; height: 38px; line-height: 38px; color: #999; }

.search-container .search-contents .section-input .num-add, .search-container .search-contents .section-input .num-minus { position: absolute; z-index: 11; cursor: pointer; width: 26px; height: 26px; top: 6px; right: 10px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-num-add.png") no-repeat center; }

.search-container .search-contents .section-input .num-add.disabled, .search-container .search-contents .section-input .disabled.num-minus { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-num-add-not.png") no-repeat center; }

.search-container .search-contents .section-input .num-minus { right: 175px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-num-minus.png") no-repeat center; }

.search-container .search-contents .section-input .num-minus.disabled { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-num-minus-not.png") no-repeat center; }

.search-container .search-contents .section-input .search-contents-select { width: 100px; padding-right: 100px; }

.search-container .search-contents .section-input .search-contents-selections { display: none; position: absolute; top: 41px; background-color: #fff; border: 1px solid #ccc/9; box-shadow: 0px 2px 4px #999; z-index: 10; padding: 10px 0; }

.search-container .search-contents .section-input .search-contents-selections li { cursor: pointer; width: 250px; height: 30px; line-height: 30px; padding: 0 17px; font-size: 14px; font-family: Arial; }

.search-container .search-contents .section-input .search-contents-selections li:hover { background-color: #fef2f9; color: #e38; }

.search-container .search-contents .search-date input { width: 100px; }

.search-container .search-contents .search-date .search-contents-info { right: 36px; }

.search-container .search-contents .nova-tip-form { display: none; position: absolute; top: 244px; left: 50px; margin-top: -16px; color: #fff; }

.search-container .search-contents .nova-tip-form .tip-content { height: 18px; overflow: hidden; }

.search-container .search-contents .nova-tip-form .tip-content li { display: block; height: 18px; }

.search-container .search-contents-combo .combo-from input, .search-container .search-contents-combo .combo-to input { padding-right: 63px; }

.search-container .search-contents-combo .combo-date input { padding-right: 100px; }

.search-container .search-contents-combo .combo-days input { width: 40px; padding-left: 139px; padding-right: 106px; }

.search-container .search-contents-combo .combo-persons-adult b, .search-container .search-contents-combo .combo-persons-children b { position: absolute; top: 17px; right: 10px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-select.png") no-repeat center; width: 12px; height: 8px; transition: all 0.3s; }

.search-container .search-contents-combo .combo-persons-adult b.active, .search-container .search-contents-combo .combo-persons-children b.active { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.search-container .search-contents-flight { display: none; }

.search-container .search-contents-flight .search-city { width: 253px; }

.search-container .search-contents-flight .search-city input { padding-right: 32px; }

.search-container .search-contents-flight .search-date { width: 283px; margin-left: 0; }

.search-container .search-contents-flight .search-date input { padding-right: 99px; }

.search-container .search-contents-flight .flight-single, .search-container .search-contents-flight .flight-double { float: left; padding: 15px; padding-bottom: 18px; font-size: 16px; color: #fff; cursor: pointer; }

.search-container .search-contents-flight .flight-single span, .search-container .search-contents-flight .flight-double span { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/flight-not.png") no-repeat center; display: inline-block; *display: inline; *zoom: 1; width: 22px; height: 22px; vertical-align: top; }

.search-container .search-contents-flight .flight-single.current span, .search-container .search-contents-flight .current.flight-double span { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/flight-choose.png") no-repeat center; }

.search-container .search-contents-flight .flight-double { margin-right: 300px; }

.search-container .search-contents-flight .citys-wrapper { width: 313px; float: left; }

.search-container .search-contents-flight .citys-wrapper .flight-change { position: absolute; width: 25px; height: 61px; left: 308px; top: 150px; color: #fff; cursor: pointer; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/flight-change.png") no-repeat center; }

.search-container .search-contents-flight .citys-wrapper .flight-change:hover { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/flight-change-hover.png") no-repeat center; }

.search-container .search-contents-flight .dates-wrapper { width: 240px; float: left; }

.search-container .search-contents-flight .dates-wrapper .flight-date-return.disabled { color: #999; }

.search-container .search-contents-flight .dates-wrapper .flight-date-return.disabled input { background-color: #eee; opacity: 0.5; filter: "alpha(opacity=$per*100)"; *filter: alpha(opacity=50); *zoom: 1; }

.search-container .search-contents-flight .dates-wrapper .flight-date-return.disabled .search-contents-icon-calendar, .search-container .search-contents-flight .dates-wrapper .flight-date-return.disabled .search-contents-info { display: none; }

.search-container .search-contents-flight .dates-wrapper .flight-date-return.search-cascading { color: #333; }

.search-container .search-contents-flight .dates-wrapper .flight-date-return.search-cascading input { background: url(../imgs/alpha.gif) repeat; }

.search-container .search-contents-flight .dates-wrapper .flight-date-return.search-cascading .search-contents-icon-calendar, .search-container .search-contents-flight .dates-wrapper .flight-date-return.search-cascading .search-contents-info { display: block; }

.search-container .search-contents-hotel { display: none; }

.search-container .search-contents-hotel .hotel-to { width: 224px; }

.search-container .search-contents-hotel .hotel-to input { padding-right: 3px; }

.search-container .search-contents-hotel .hotel-keywords { width: 342px; }

.search-container .search-contents-hotel .hotel-keywords input { width: 223px; }

.search-container .search-contents-hotel .search-date input { padding-right: 99px; }

.search-container .search-contents-hotel .nova-tip-form { top: 190px; }

.search-container .search-contents-ticket { display: none; }

.search-container .search-contents-ticket .ticket-keywords { width: 583px; }

.search-container .search-contents-ticket .ticket-keywords input { padding: 0 10px; width: 563px; }

.search-container .search-contents-ticket .hotel-keywords { width: 342px; }

.search-container .search-contents-ticket .hotel-keywords input { width: 223px; }

.search-container .search-btn-wrapper { position: absolute; width: 100%; top: 268px; left: 0; text-align: center; }

.search-container .search-btn-wrapper .search-btn { display: inline-block; *display: inline; *zoom: 1; color: #fff; background-color: #e38; border-radius: 5px; width: 300px; height: 48px; font-size: 20px; line-height: 48px; cursor: pointer; }

.search-container .search-btn-wrapper .search-btn .icon { display: inline-block; *display: inline; *zoom: 1; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/search-btn.png") no-repeat center; width: 16px; height: 19px; vertical-align: middle; margin-right: 5px; }

.search-container .drop-suggestion-citys, .search-container .drop-suggestion-keywords, .search-container .drop-complete { display: none; position: absolute; border: 1px solid #ccc/9; box-shadow: 0px 2px 4px #999; top: 100px; left: 30px; width: 494px; padding: 13px 21px; background-color: #fff; z-index: 100; }

.search-container .drop-suggestion-citys .drop-title, .search-container .drop-suggestion-keywords .drop-title, .search-container .drop-complete .drop-title { color: #999; font-size: 14px; height: 19px; line-height: 19px; margin-bottom: 10px; }

.search-container .drop-suggestion-citys .city-hot, .search-container .drop-suggestion-keywords .city-hot, .search-container .drop-complete .city-hot { border-bottom: 1px dotted #ddd; padding-bottom: 8px; }

.search-container .drop-suggestion-citys .city-hot li, .search-container .drop-suggestion-keywords .city-hot li, .search-container .drop-complete .city-hot li { cursor: pointer; float: left; color: #666; font-size: 12px; height: 16px; line-height: 16px; margin-right: 20px; }

.search-container .drop-suggestion-citys .city-hot li:hover, .search-container .drop-suggestion-keywords .city-hot li:hover, .search-container .drop-complete .city-hot li:hover { color: #f60; }

.search-container .drop-suggestion-citys .letter-tabs, .search-container .drop-suggestion-keywords .letter-tabs, .search-container .drop-complete .letter-tabs { border-bottom: 1px solid #ccc; height: 36px; }

.search-container .drop-suggestion-citys .letter-tabs li, .search-container .drop-suggestion-keywords .letter-tabs li, .search-container .drop-complete .letter-tabs li { position: relative; float: left; cursor: pointer; height: 35px; width: 69px; text-align: center; line-height: 35px; font-family: Arial; font-size: 14px; }

.search-container .drop-suggestion-citys .letter-tabs li i, .search-container .drop-suggestion-keywords .letter-tabs li i, .search-container .drop-complete .letter-tabs li i { display: none; position: absolute; bottom: -2px; left: 30px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-arrow.png") no-repeat center; width: 11px; height: 6px; }

.search-container .drop-suggestion-citys .letter-tabs li.current, .search-container .drop-suggestion-keywords .letter-tabs li.current, .search-container .drop-complete .letter-tabs li.current { font-family: Arial; color: #e38; font-weight: 600; border-bottom: 2px solid #e38; }

.search-container .drop-suggestion-citys .letter-tabs li.current i, .search-container .drop-suggestion-keywords .letter-tabs li.current i, .search-container .drop-complete .letter-tabs li.current i { display: inline; }

.search-container .drop-suggestion-citys .letter-city-contents, .search-container .drop-suggestion-keywords .letter-city-contents, .search-container .drop-complete .letter-city-contents { padding: 8px 15px; }

.search-container .drop-suggestion-citys .letter-city-contents dl, .search-container .drop-suggestion-keywords .letter-city-contents dl, .search-container .drop-complete .letter-city-contents dl { position: relative; padding: 5px 0px; padding-left: 12px; min-height: 16px; }

.search-container .drop-suggestion-citys .letter-city-contents dl dt, .search-container .drop-suggestion-keywords .letter-city-contents dl dt, .search-container .drop-complete .letter-city-contents dl dt { position: absolute; top: 8px; left: 0; font-family: Arial; font-weight: 700; float: left; color: #e38; height: 16px; font-size: 14px; line-height: 16px; }

.search-container .drop-suggestion-citys .letter-city-contents dl dd, .search-container .drop-suggestion-keywords .letter-city-contents dl dd, .search-container .drop-complete .letter-city-contents dl dd { cursor: pointer; float: left; margin: 2px 10px; height: 16px; font-size: 12px; line-height: 16px; }

.search-container .drop-suggestion-citys .letter-city-contents dl dd:hover, .search-container .drop-suggestion-keywords .letter-city-contents dl dd:hover, .search-container .drop-complete .letter-city-contents dl dd:hover { color: #f60; }

.search-container .drop-suggestion-keywords { padding: 8px 0; width: 409px; }

.search-container .drop-suggestion-keywords .keywords-transport { border-bottom: 1px dashed #ccc; padding-bottom: 5px; padding-top: 5px; }

.search-container .drop-suggestion-keywords .keywords-title { float: left; width: 90px; height: 36px; font-size: 12px; color: #999999; text-align: center; }

.search-container .drop-suggestion-keywords .keywords-details { float: left; width: 309px; }

.search-container .drop-suggestion-keywords .keywords-details span { margin-right: 20px; cursor: pointer; float: left; height: 22px; font-size: 12px; line-height: 22px; }

.search-container .drop-suggestion-keywords .keywords-details span:hover { color: #f60; }

.search-container .drop-complete { z-index: 200; padding: 10px 0; }

.search-container .drop-complete li { cursor: pointer; height: 30px; line-height: 30px; padding: 0 16px; color: #666666; }

.search-container .drop-complete li span { display: inline-block; *display: inline; *zoom: 1; }

.search-container .drop-complete li span.name { width: 234px; }

.search-container .drop-complete li span.hotelCount { width: 76px; }

.search-container .drop-complete li span.type { display: none; width: 76px; text-align: center; }

.search-container .drop-complete li:hover { background-color: #fef2f9; color: #e38; }

.search-container .drop-complete li:hover .type { display: inline-block; *display: inline; *zoom: 1; }

.search-container .drop-complete.error { border: 1px solid #f30; background-color: #ffe8e8; color: #f30; height: 28px; }

.cart { position: fixed; z-index: 100; bottom: 20px; right: 0px; /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/bg-cart.png") no-repeat center; height: 46px; line-height: 46px; width: 140px; text-align: center; color: #fff; font-size: 14px; cursor: pointer; }

.cart .pro-num { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-cart-num.png") no-repeat center; height: 26px; line-height: 26px; text-align: center; width: 26px; position: absolute; top: -13px; left: 0px; }

.cart i { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/icon-cart.png") no-repeat center; height: 20px; width: 20px; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; margin-top: -3px; }

.cart:hover { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/bg-cart-hover.png") no-repeat center; }

.hot-citys-container { width: 1200px; position: relative; left: 50%; margin-left: -600px; }

.hot-citys-title { position: relative; left: 50%; margin-left: -291.5px; width: 583px; height: 84px; border-bottom: 1px solid #ddd; margin-bottom: 68px; }

.hot-citys-title .title-wrapper { position: absolute; width: 361px; top: 53px; left: 50%; margin-left: -180px; background-color: #fff; }

.hot-citys-title .title-wrapper .title-main { font-size: 30px; display: block; height: 40px; line-height: 40px; text-align: center; }

.hot-citys-title .title-wrapper .title-en { font-family: Arial; display: block; font-size: 14px; color: #999; text-align: center; height: 16px; line-height: 16px; }

.hot-citys { margin-left: -20px; }

.hot-citys .hot-pros { float: left; position: relative; width: 285px; height: 410px; margin-left: 20px; }

.hot-citys .hot-pros .pro-info { position: absolute; left: 44px; top: 41px; width: 200px; height: 80px; color: #fff; }

.hot-citys .hot-pros .pro-info .pro-name { font-weight: 700; font-size: 24px; text-align: center; }

.hot-citys .hot-pros .pro-info .pro-icon { /* @meta {"spritesheet": {"include": true}} */ background: url("../imgs/sprite/pro-icon.png") no-repeat center; width: 200px; height: 10px; margin: 10px 0; }

.hot-citys .hot-pros .pro-info .pro-tips li { float: left; width: 58px; height: 20px; line-height: 20px; text-align: center; border-radius: 10px; border: 1px solid #ffffff; margin-left: 5px; }
