$color-lv-pink: #e38;
$color-lv-pink-hover: #a81c54;
$color-lv-orange: #f90;
$color-hover-orange: #f60;
$color-bg-orange: #fff9ef;


@mixin etc() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin inlineblock() {
  display: inline-block;
  *display: inline;
  *zoom: 1
}
@mixin opacity($per){
  opacity: $per;
  filter: alpha(opacity=$per*100);
  *zoom:1;
}
@mixin hover($height:-5px,$time:0.3s){
  transition: all $time;
  &:hover {
    transform: translateY($height);
  }
}

@keyframes svg-line-move-flight
{
  0%   { transform: translate(10px,0px)}
  25%  { transform: translate(20px,0px)}
  50%  { transform: translate(90px,0px)}
  75%  { transform: translate(150px,0px)}
  100% { transform: translate(200px,0px)}
}