@import "var";

.ui-calendar {
  z-index: 10;
}
body {
  min-width: 1000px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
}
.search-wrapper {
  position: relative;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 540px;
  .banner-title {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    top: 32px;
    @include sprite(url('../imgs/sprite/banner-title.png'));
    width: 221px;
    height: 49px;
  }
  background: url("../imgs/banner.jpg") no-repeat center;
}
.search-container {
  position: relative;
  top: 120px;
  left: 50%;
  margin-left: -(685px/2);
  width: 585px;
  height: 306px;
  background-color: rgba(0,0,0,0.6);
  padding: 25px 50px;
  border-radius:8px;
  .search-tabs {
    margin-left: -22px;
    margin-bottom: 18px;
    li {
      cursor: pointer;
      float: left;
      padding: 0 22px;
      height: 22px;
      line-height: 22px;
      font-size: 18px;
      margin-bottom: 18px;
      color: #fff;
      border-right: 1px solid #777;
      .tab-wrapper {
        width: 107px;
        text-align: center;
        padding-bottom: 9px;
      }
      i {
        @include inlineblock;
        height: 24px;
        width: 24px;
        vertical-align: top;
        padding-right: 5px;
      }
      &.current {
        font-weight: 600;
        .tab-wrapper {
          border-bottom: 2px solid #fff;
        }
      }
    }
    .tab-combo {
      i {
        @include sprite(url('../imgs/sprite/icon-tab-combo.png'))
      }
      &.current {
        i {
          @include sprite(url('../imgs/sprite/icon-tab-combo-cur.png'))
        }
      }
    }
    .tab-flight {
      i {
        @include sprite(url('../imgs/sprite/icon-tab-flight.png'))
      }
      &.current {
        i {
          @include sprite(url('../imgs/sprite/icon-tab-flight-cur.png'))
        }
      }
    }
    .tab-hotel {
      i {
        @include sprite(url('../imgs/sprite/icon-tab-hotel.png'))
      }
      &.current {
        i {
          @include sprite(url('../imgs/sprite/icon-tab-hotel-cur.png'))
        }
      }
    }
    .tab-ticket {
      border: 0;
      i {
        @include sprite(url('../imgs/sprite/icon-tab-ticket.png'))
      }
      &.current {
        i {
          @include sprite(url('../imgs/sprite/icon-tab-ticket-cur.png'))
        }
      }
    }
  }
  .search-contents {
    display: block;
    margin-left: -15px;
    border-radius:3px;
    .section-input {
      float: left;
      position: relative;
      height: 38px;
      background-color: #fff;
      width: 283px;
      margin: 0 0 15px 15px;
      border-radius: 3px;
      border: 1px solid #fff;
      &.error {
        border: 1px solid #f30;
        background-color: #ffe8e8;
      }
      input {
        position: absolute;
        z-index: 10;
        padding-left: 85px;
        padding-right: 37px;
        top: 0;
        height: 38px;
        line-height: 38px;
        background: url(../imgs/alpha.gif) repeat;
        font-size: 16px;
        width: 137px;
        color: #333;
        outline: none;
      }
      .search-contents-icon-location {
        position: absolute;
        top: 10px;
        height: 20px;
        z-index: 9;
        right: 10px;
        width: 16px;
        @include sprite(url('../imgs/sprite/icon-loaction.png'));
      }
      .search-contents-icon-calendar {
        @extend .search-contents-icon-location;
        top: 13px;
        height: 15px;
        @include sprite(url('../imgs/sprite/icon-calendar.png'));
      }
      .search-contents-title {
        position: absolute;
        z-index: 9;
        left: 0px;
        padding-left: 10px;
        height: 38px;
        line-height: 38px;
        width: 75px;
        font-size: 14px;
        color: #999;
      }
      .search-contents-info {
        position: absolute;
        z-index: 9;
        right: 47px;
        height: 38px;
        line-height: 38px;
        color: #999;
      }
      .num-add {
        position: absolute;
        z-index: 11;
        cursor: pointer;
        width: 26px;
        height: 26px;
        top: 9px;
        right: 10px;
        @include sprite(url('../imgs/sprite/icon-num-add.png'));
        &.disabled {
          @include sprite(url('../imgs/sprite/icon-num-add-not.png'));
        }
      }
      .num-minus {
        @extend .num-add;
        right: 175px;
        @include sprite(url('../imgs/sprite/icon-num-minus.png'));
        &.disabled {
          @include sprite(url('../imgs/sprite/icon-num-minus-not.png'));
        }
      }
      .search-contents-select {
        width: 100px;
        padding-right: 100px;
      }
      .search-contents-selections {
        display: none;
        position: absolute;
        top: 41px;
        background-color: #fff;
        border: 1px solid #ccc/9;
        box-shadow: 0px 2px 4px #999;
        z-index: 10;
        li {
          cursor: pointer;
          width: 250px;
          height: 30px;
          line-height: 30px;
          padding: 0 17px;
          &:hover {
            background-color: #fef2f9;
            color: $color-lv-pink;
          }
        }
      }
    }
    .search-date {
      input {
        width: 100px;
      }
      .search-contents-info {
        right: 36px;
      }
    }
    .nova-tip-form {
      display: none;
      position: absolute;
      top:244px;
      left: 50px;
      margin-top: -16px;
      color: #fff;
      .tip-content {
        height: 18px;
        overflow: hidden;
        li {
          display: block;
          height: 18px;
        }
      }
    }
  }
  .search-contents-combo {
    .section-input {
      //margin: 10px;
    }
    .combo-from,.combo-to {
      input {
        padding-right: 63px;
      }
    }
    .combo-date {
      input {
        padding-right: 100px;
      }
    }
    .combo-days {
      input {
        width: 40px;
        padding-left: 139px;
        padding-right: 106px;
      }
    }
    .combo-persons-adult {
      b {
        position: absolute;
        top: 17px;
        right: 10px;
        @include sprite(url('../imgs/sprite/icon-select.png'));
        width: 12px;
        height: 8px;
        transition: all 0.3s;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    .combo-persons-children {
      @extend .combo-persons-adult;
    }
  }
  .search-contents-flight {
    .section-input {
      width: 217px;
      margin: 10px;
    }
    .flight-single {
      float: left;
      padding: 10px;
      &.current {
        color: #fff;
      }
    }
    .flight-double {
      @extend .flight-single;
      margin-right: 300px;
      &.current {
        color: #fff;
      }
    }
    .citys-wrapper {
      width: 260px;
      float: left;
      .flight-change {
        position: absolute;
        width: 20px;
        height: 80px;
        left: 250px;
        top: 114px;
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #c33;
        }
      }
    }
    .dates-wrapper {
      width: 240px;
      float: left;
      .flight-date-return {
        &.disabled {
          input {
            background-color: #ccc;
            color: #999;
          }
          color: #999;
        }
        &.search-cascading {
          input {
            background-color: #fff;
          }
          color: #333;
        }
      }
    }
  }
  .search-btn-wrapper {
    position: absolute;
    width: 100%;
    top:268px;
    left: 0;
    text-align: center;
    .search-btn {
      @include inlineblock;
      color: #fff;
      background-color: $color-lv-pink;
      border-radius:5px;
      width:300px;
      height:48px;
      font-size:20px;
      line-height: 48px;
      cursor: pointer;
      .icon {
        @include inlineblock;
        @include sprite(url('../imgs/sprite/search-btn.png'));
        width: 16px;
        height: 19px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  .drop-suggestion-citys {
    display: none;
    position: absolute;
    border: 1px solid #ccc/9;
    box-shadow: 0px 2px 4px #999;
    top:100px;
    left: 30px;
    width: 450px;
    height: 300px;
    padding: 10px;
    background-color: #fff;
    z-index: 100;
    .drop-title {
      color: #999;
      font-size: 16px;
      height: 24px;
      line-height: 24px;
    }
    .city-hot {
      li {
        cursor: pointer;
        float: left;
        color: #666;
        width: 30px;
        &:hover {
          color: $color-hover-orange;
        }
      }
    }
    .letter-tabs {
      li {
        float: left;
        margin: 0 4px;
        cursor: pointer;
        &.current {
          color: $color-lv-pink;
        }
      }
    }
    .letter-city-contents {
      dl {
        dt {
          float: left;
          color: $color-lv-pink;
          padding: 0 10px;
        }
        dd {
          cursor: pointer;
          float: left;
          margin: 0 5px;
          &:hover {
            color: $color-hover-orange;
          }
        }
      }
    }
  }
  .drop-complete {
    @extend .drop-suggestion-citys;
    z-index: 200;
    &.error {
      border: 1px solid #f30;
      background-color: #ffe8e8;
      color: #f30;
      height: 28px;
    }
  }
}